.button{
    width: 130px;
    height: 30px;
    background-color: aquamarine;
    margin-left: 10px;
    margin-top:5px;

}
form{
    width: 200px;
}

.review{
    position:absolute;
    left: 200px;
    top: 65px;
    width: 500px;
}



