<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <servlet>
        <servlet-name>StartServlet</servlet-name>
        <servlet-class>com.softserve.servlets.HomePage</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AuthotServlet</servlet-name>
        <servlet-class>com.softserve.servlets.AuthorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthotServlet</servlet-name>
        <url-pattern>/author</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.softserve.servlets.BookServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ReaderServlet</servlet-name>
        <servlet-class>com.softserve.servlets.ReaderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReaderServlet</servlet-name>
        <url-pattern>/reader</url-pattern>
    </servlet-mapping>
</web-app>